# .gitignore

*~
*.copy

config/nvim/dein/repos
config/nvim/dein/.cache
config/nvim/dein/cache_nvim
config/nvim/dein/install.log
config/nvim/dein/state_nvim.vim

config/fish/conf.d/omf.fish
config/fish/fishd.*

config/kak/plugins
config/kak/autoload/system

